@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  display: none;
}
